body{
    padding-inline-start: 10px;
}
button{
    padding:10px
}
button:hover{
    cursor: pointer;
}
.container{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Mi5{
    margin-inline:50px;
}