body{
    font-family: sans-serif;
    color: #A9AAAA;
}
.NavContainer{
    display: flex;
    width:100%;
    height:60px;
}
.left{
    padding-inline-start:30px;
    display: flex;
    width: 50%;
    height: 100%;
    padding-inline:10px;
}
.right{
    padding-inline-end:30px;
    display: flex;
    flex-direction:row-reverse;
    justify-content: end;
    width: 50%;
    height: 100%;
}
.container{
    padding-top: 70px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.buttonsDiv{
    margin-block: 10px;
    padding:10px;
}
.LogoDiv{
    margin-block-start: 10px;
}
.InputBox{
    border-radius: 12px;
    border-color: #EEEEEE;
    height: 26px;
    width: 500px;
}
.searchBoxDiv{

}

.FooterContainer{
    display: flex;
    width:100%;
    height:60px;
}
button{
    border-radius:12px;
    background-color: #EEEEEE;
    border-color: #EEEEEE;
    padding-block: 6px;
    padding-inline: 20px;;
}
button:hover{
    cursor: pointer;
    background-color: #dcdada;
}