body{
    padding-inline-start: 10px;
}
button{
    padding:10px
}
button:hover{
    cursor: pointer;
}

form textarea {
  display: block;
  margin-block: 5px;
}

td,th{
    border: solid;
    border-width: thin;
    padding-inline:20px;
    padding-block:5px;
}
tr:nth-child(even) {
    background-color: #dddddd;
  }

  
.NegativeBorderPaddingTop{
    margin-block-start: -27px;
}
.divBorderAndPadding{
    border: solid;
    border-width: thin;
    border-color: silver;
    padding-inline-start: 25px;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: auto;
    align-content: center;
}
.inputM-5{
    margin-block: 5px;
}
.container form{
    width: 50%;
    margin: auto;
    background-color: #262646;
    color: #fff;
    padding: 30px;
}
#Part11{
    background-color:#4E4E94 ;
}
#Part11 form input #survey,
#survey,
#age,
#email,
#name,
#cars,
#pen{
    width:100%;
    padding: 5px;
}